*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #B6D7E4;


    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;



}

.yellow{
    display: flex;
    justify-content: center;

    border: black 2px dashed;



    
    background-color: #D2A741;
}

.Login-header{
    flex-grow: 1;
    
}

.yellow-2{

    max-width: 600px;

}