*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* display: flex; */
    /* flex-direction: column; */
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #B6D7E4;


    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;

    padding: 20px;



}

.yellow{
    display: flex;
    justify-content: center;

    border: black 2px dashed;



    
    background-color: #D2A741;
}

.Login-header{
    flex-grow: 1;
    
}

.yellow-2{

    max-width: 600px;

}

.back-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000085;
    
}

.s-pink{
    background-color: #E087E8;
    
    width: 500px;
    height: 300px;

    margin: 50px auto;
}

.back-white{
    display: flex;
    justify-content: center;
    align-items: center;

    /* max-width: 1200px; */
    
    padding: 40px;
    
    
    /* margin-left: auto;
    margin-right: auto;
    padding: 50px auto; */
}

.azure-square-1{
    height: 480px;
    width: 700px;

    background-color: #458EF7;
    border: black 1px dashed;


}

.s-pink-1{
    background-color: #F5C3CB;

    height: 480px;
    width: 496px;
    border: black 1px dashed;


    
}

.back-grey{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    /* max-width: 1200px; */

    background-color: #D3D3D3;
    
    /* margin: 40px auto; */
    padding: 40px;
    
}

.s-pink-2{
    background-color: #F5C3CB;

    height: 480px;
    width: 700px;
    border: black 1px dashed;
    
    /* margin: 40px auto; */


}

.azure-square-2{
    height: 480px;
    width: 496px;

    background-color: #458EF7;
    border: black 1px dashed;
    
    /* margin: 40px auto; */

}
/* il box grey non si colora sui margini top e bottom */

.back-grey-1{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D3D3D3;

    /* max-width: 1200px; */
    
    padding: 40px;
}
.green-square{
    display: inline-block;
    height: 800px;
    width: 1075px;
    
    background-color: #448933;
}

/* lo square non accupa tutto lo spazio dispinibile */

.black-square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: #232729;

    padding: 12px 40px 40px 40px;
    

}

.lite-pink-square{
    
    
    height: 500px;
    width: 350px;

    background-color: #E18683;
    border: 1px black dashed;

}

.water-square{
    height: 500px;
    width: 180px;

    background-color: #55B0A9;

    border: 1px white dashed;
}

.back-black{
    background-color: #232729;
    /* max-width: 1000px; */

    margin-top: 1px white;

    padding: 40px;



}

.logo-footer{
    display: flex;
    justify-content: space-between; 
    align-items: center;

    

    

    background-color: #A0FCD7;

    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;

    



}

.logo-footer-1{
    color: black;
    background-color: #F4B9C1;
    border: 1px white dashed;
    
}

.button-footer{
    color: black;
    background-color: #F4B9C1;
    border: 1px white dashed;

}




    

    



